:root{
    --primary-color: #dd5849;
    --black-color: #000000;
    --secondary-black-color: #1e1e1e;
    --tertiary-color: #FEAB34;
    --quaternary-color: #00DBBD;
    --pentanary-color: #6B81C3;
    --pentanary-color-alpha: rgba(107, 129, 195, 0.55);
}
html{
    font-family: 'Kanit';
    background-color: #222222;
    color: white;
}
#game-scroller{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
}
.game{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 30vw;
    background-color: var(--secondary-black-color);
    color: white;
    box-shadow: black 5px 5px 2px;
}
.active{
    border: solid 4px var(--quaternary-color);
    box-shadow: var(--quaternary-color) 1px 1px 20px;
    animation: borderAnimation 0.2s ease-in;
}

@keyframes borderAnimation {
    from {
        border-color: transparent;
    }
    to {
        border-color: var(--quaternary-color);
    }
}
.game h2{
    color: var(--primary-color);
    text-shadow: var(--tertiary-color) 1px 1px;
    font-size: 3vh;
}
.game img{
    height: auto;
    max-width: 15vw;
    width: auto;
}
.game-info{
    display: block;
    padding: 10px;
}
.game-tags span{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.4vh;
    border: solid 2px var(--pentanary-color);
    background-color: var(--pentanary-color-alpha);
    color: white;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 0.4vh;
}
